.button {
  position: relative;
  @apply text-[20px] text-gray-900 leading-[30px];

  &::before {
    @apply bg-gray-900 rounded-full delay-75;
    content: "";
    transition: all ease 0.2s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.fillButton {
  @apply text-[20px] text-white leading-[30px] py-2 px-8 bg-gray-900 rounded-[32px] transition hover:bg-gray-800;
}
